.gameArea {
  display: flex;
  justify-content: center;
}
#myCanvas {
  visibility: hidden;
}
.navbar {
  background: #4169E1;
}

#nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: wheat;
  flex-direction: row;
  height: 10vh;
}

a {
  text-decoration: none;
  color: navajowhite;
  transition: color 0.3s ease 0s;
}

a:hover {
  color:blue
}